.vs/
bin/
obj/
.idea/
*.DotSettings.user
*.csproj.user

*.db
*.db-shm
*.db-wal

ToDo's.txt
Temp.txt
syllabus.json
user.json

RateMeApiServer/Controllers/WeatherForecastController.cs
RateMeApiServer/WeatherForecast.cs